In [6]:
#wap in python to check whether the user is eligible for voting or not
a=input("name of the user:")
b=int(input("age of the user:"))
if b>=18:
    print("eligible for voting")
else:
    print("not eligible for voting")

name of the user: bhavika
age of the user 17

not eligible for voting

In [1]:
#wap in python to check triangle validity, sum of 2 sides:
a=int(input("first side"))
b=int(input("second side"))
c=int(input("third side"))
if a+b>c:
    print("triangle is valid")
else :
    print("triangle is invalid")

first side 12
second side 15
third side 10

triangle is valid

In [ ]:
#wap to check type of type of triangle:
a=int(input("side 1="))
b=int(input("side2="))
c=int(input("side 3="))
if a==b==c:
         print("triangle is equilateral")
elif a==b!=c:
         print("triangle is isosceles")
else:
         print("triangle is scalene")

In [ ]:
#wap in python to check whether a person can donate blood or not,,, >=18 age, <=50 weight:
a=int(input("age of donor:"))
b=float(input("weight of the donor:"))
if a>=18 and b>=50:
                print("donor is eligible")
else:
                print("donor is not eligible")

In [ ]:
#wap to prep a simple calculate for 2 values:

In [ ]:
8. wap that will calculate the movie ticket pricing based on age,,, <=18   p =100, >=18 age

In [ ]:
#wap to check whether the student is eligible for scholarship or not :

In [ ]:
pre

In [5]:
angle = int(input("enter the angle: "))
if angle<90:
    print("angle is acute")
else:
    print("angle is right") if angle==90 else print("angle is obtuse")

enter the angle:  90

angle is right

In [1]:
exp=int(input("enter your experience"))
coding=int(input("enter the coding rating"))
prob= int(input("enter the problem solving rate"))
eligibility=int(input("assistant manager"))

macth eligibility
case assistant manager

SyntaxError: invalid syntax (3605913501.py, line 6)

In [35]:

for i in range(1,6):
    for j in range(1,i+1):
  
       print(2*j,end=" ")
    print()

2
2 4
2 4 6
2 4 6 8
2 4 6 8 10

In [41]:
for i in range (1,6):
    for j in range(1,i+1):
        print(2*j-1,end=" ")
    print()

1
1 3
1 3 5
1 3 5 7
1 3 5 7 9

In [51]:
for i in range(1,6):
    if i<=3:
        count=2**i
    else:
        count=2**(6-i)
    for j in range(count):
        print("*",end=" ")

    print()

* *
* * * *
* * * * * * * *
* * * *
* *

In [4]:
n = int(input())

for i in range(1, n + 1):
    print(" " * (n - i), end="")   # spaces before stars
    print("* " * i)

 5

    *
   * *
  * * *
 * * * *
* * * * *

In [79]:
for i in range(1,10):
    if i<=5:
        count=1*i
    else:
        count=1*(10-i)
    for j in range(count):
        print("*",end=" ")

    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [96]:
#swapping
a = str(input("enter the number"))
print(a[::-1])

enter the number 1234

4321

In [28]:
x=1
while (x<=10):

    print(x)

    x+=1

print("end")
print("end")

1
2
3
4
5
6
7
8
9
10
end
end

In [ ]:
x=10

while x<=10:
    print('x=',x)
    x-=1
 if x==5:
    break
print("out of loop")

In [6]:
nums=[2,4,6,8,10]
count=0
while count < 6:
    print(nums[count])
    if nums[count]== 10:
        break
    count +=1
print("end")

2
4
6
8
10
end

In [ ]:
i=1
while(i<=10):
    print(2*i)
    print()
    if i ==5:
       break
i+=1
print("end")

In [ ]:
x=1
while (x<=10):

print(x)

x+=1

print("end")
print(" ")

In [ ]:
n=int(input("enter the number: "))
a=0
b=1
print(a)
print(b)
for i in range(1,n-1):
  c=a+b
  a=b
  b=c
  print(c)

In [4]:
def fun_city (s1,s2,s3):
 s4=s1+s2+s3
print("city in us is:",s3)
fun_city('new','york')

NameError: name 's3' is not defined

In [5]:
#area of rectangle :
def add

SyntaxError: expected '(' (1011057394.py, line 2)

In [7]:
def add_numbers(*args):
    total=0
    for num in args:
        total += num
    return total
print(add_numbers(5,10))
print(add_numbers(2,4,6,8,10))

15
30

def my_func(a,b,+.*.c.d):
print(a+b+c*d)
my_func(5,6,c=6,d=8)

In [9]:
def my_func(a,b,+,*,c,d):
print(a+b+c*d)
my_func(5,6,c=6,d=8)

SyntaxError: invalid syntax (298367232.py, line 1)

In [10]:
def modify (x):
    x=15
    print(x,id(x)// to find adress of a variable)
x=10
modify(x)
print(x,id(x))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3235488546.py, line 3)

In [17]:
def modify(x):
    x = 15
    print( x, id(x))

x = 10
modify(x)
print(x, id(x))

15 140716246414696
10 140716246414536

In [ ]:
def modify(x):
    x = 15
    print("Inside function: x =", x, "| id =", id(x))  # id() gives memory address

x = 10
modify(x)
print("Outside function: x =", x, "| id =", id(x))

In [22]:
x = lambda a: a+10
print(x(5))

15

In [30]:
def factorial (n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
num = int(input("enter a number"))
print("factorial of", num , "is", factorial(num))

enter a number 12

factorial of 12 is 479001600

In [41]:
def table(n):
    for i in range(1, 11): 
        print(f"{n} x {i} = {n * i}")

num = int(input("Enter a number: "))
print(f"\n Multiplication Table of {num}:")
table(num)

Enter a number:  12

Multiplication Table of 12:
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [39]:
def table(n):
    for i in range(1, 11):  # Loop from 1 to 1
        print(f"{n} x {i} = {n * i}")

num = int(input("Enter a number: "))
print(f"\nMultiplication Table of {num}:")
table(num)

Enter a number:  12

Multiplication Table of 12:
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [1]:
#generating random integer list using for loop - randint()
import random
rand_list = []
for i in range (0,5):
    n= random.randint(10,100)
    rand_list.append(n)
print(rand_list)

[32, 26, 66, 43, 38]

In [2]:
#generating  a random number from a  list in the specified range -randrange()
import random 
n= random.sample(range(50,100),5)
print(n)

[79, 82, 57, 88, 66]

In [3]:
import random
mylist=[10,30,50,70,90]
n=random.choice(mylist)
print(n)

30

In [ ]:
#andom number generating  a floating rsequence- seed()

In [5]:
#generating  a floating mnumber within a given range - uniform()
import random 
n=random.uniform(13,17)
print(n)

13.310925838306197

In [7]:
#generating  arandom shuffled list:
import random
mylist=[1,2,3,4,5,6,7]
random.shuffle(mylist)
print(mylist)

[3, 7, 1, 4, 6, 5, 2]

In [12]:
#generating a floating random number sequence- seed()
import random
val=int(input("enter seed value:"))
random.seed(val)
for i in range(val):
    print('\n',random.random(),end='')

enter seed value: 1

 0.13436424411240122

In [16]:
list1=[1,2,3,4]
list2=[5,6,7,8]
list3=list1+list2
print("list items in list3 are:")
print(list3)
list4=list1*2
print("list items in list 4 are:")
print(list4)

list items in list3 are:
[1, 2, 3, 4, 5, 6, 7, 8]
list items in list 4 are:
[1, 2, 3, 4, 1, 2, 3, 4]

In [17]:
list1=["abc",'c',1]
list2=["gfh",'p','g']
print(list1)
print(list2)

['abc', 'c', 1]
['gfh', 'p', 'g']

In [18]:
list1=[1,2,3,4]
list2=[4,3,2,1]
list3=[1,2,3,4]
list4=[1,1,3,4]
print(list1==list2)
print(list1==list3)
print([1,2,3,6]>[1,2,6,5])

False
True
False

In [20]:
#acess
mylist=[1,2,3,4,5,6,7,8]
print(mylist[1])
print(mylist[-1])

2
8

In [21]:
#append:used to add one element and extend used to add more than on element
mylist=[1,2,3]
mylist.append(4)
print(mylist)
mylist.

SyntaxError: invalid syntax (3580630596.py, line 5)

In [22]:
#insert
mylist=[1,2,3]
print(mylist)
mylist.insert(3,4)
print(mylist)
mylist.insert(4,5)
print(mylist)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [24]:
#index:returns the position of the first occurence of element. it takes 2 optional parameters - beggining index and the and index
mylist=[1,2,3,4,5,6,2,3,7,8]
print(mylist.index(2))
print(mylist.index(2,2,8))

1
6

In [25]:
#update list: can be ,modified using the elements index
mylist=[1,2,3,4,5]
print(mylist)
mylist[2]= 30
print(mylist)
mylist[4]=50
print(mylist)

[1, 2, 3, 4, 5]
[1, 2, 30, 4, 5]
[1, 2, 30, 4, 50]

In [26]:
#remove:
mylist=[1,2,3,4,5,6]
print(mylist)

[1, 2, 3, 4, 5, 6]

In [27]:
reverse:

SyntaxError: invalid syntax (974102181.py, line 1)

In [30]:
#loop through index numbers
mylist=[1,2,3,4,5]
print(mylist)
for i in range(len(mylist)):
    print(mylist[i])

[1, 2, 3, 4, 5]
1
2
3
4
5

In [31]:
#loop using  awhile loop
mylist= [1,2,3,4,5]
print(mylist)
i=0
while i<len(mylist):
    print(mylist[i])
    i=i+1

[1, 2, 3, 4, 5]
1
2
3
4
5

In [36]:

fruits=["apple","pear","plum"]
fruits_with_a = []
for fruit in fruits:
    if 'a' in fruit:
        fruits_with_a.append(fruit)
    print(fruits_with_a)

['apple']
['apple', 'pear']
['apple', 'pear']

In [37]:
numbers=[1,2,3,4,5]
doubled_numbers=[number *2 for number in numbers]
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [6]:
list=[1,2,3,4,5]
square=[]
for number in list:
    sqaures.append(number**2)
print(square)

[]

In [9]:
list=[2410992561,2410992420,2510992061,2501998765,"def","gfh","abc"]
print(lis

[2410992561, 2410992420]

In [16]:
# print vowels 
list=["Apple","Banana","Orange","Papaya"]
vowels="aeiouAEIOU"
all_vowels=[]
vowel_count=0
for word in list:
    for char in word:
        if char in vowels:
            all_vowels.append(char)
            
print(all_vowels)
print(len(all_vowels))

['A', 'e', 'a', 'a', 'a', 'O', 'a', 'e', 'a', 'a', 'a']
11

In [26]:
list1=[2410991,2410992,2410993,2410994]
x=[]
y=[]
for item in list1:
    x.append(item[:6])
    y.append(item[6:])
print("prefix list",x)
print("remaining list:",y)

TypeError: 'int' object is not subscriptable

In [27]:

List2 = ["Garima", "GUrU", "RAMa", "HEY", "how", "are", "YOU"]

small_counts = {}
big_counts = {}

for word in List2:
    for char in word:
        if char.islower(): 
            small_counts[char] = small_counts.get(char, 0) + 1
        elif char.isupper():
            big_counts[char] = big_counts.get(char, 0) + 1

print("Lowercase letters:")
for char, count in small_counts.items():
    print(f"{char}:{count}", end=", ")
print("\n")

print("Uppercase letters:")
for char, count in big_counts.items():
    print(f"{char}:{count}", end=", ")
print("\n")

print("Total lowercase letters:", sum(small_counts.values()))
print("Total uppercase letters:", sum(big_counts.values()))

Lowercase letters:
a:4, r:3, i:1, m:1, h:1, o:1, w:1, e:1,

Uppercase letters:
G:2, U:3, R:1, A:1, M:1, H:1, E:1, Y:2, O:1,

Total lowercase letters: 13
Total uppercase letters: 13

In [37]:
number = [2, 4, 6, 8, 10]
for num in number:
    print(f"\nTable of:{num}")  
    
    for i in range(1, 11):
        print(f"{num}x{i}={num*i}")

Table of:2
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20

Table of:4
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40

Table of:6
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60

Table of:8
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
8x10=80

Table of:10
10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100

In [1]:
list=[2,4,6,8,10]

In [15]:
def tower_of_hanoi(n, source, auxillary, target):
    if n ==1:
        print(f"move disk 1 from {source} to {target}")
        return 1
    moves= tower_of_hanoi(n-1, source, target, auxillary)
    print(f"move disk {n} from {source} to {target}")
    moves +=1
    moves+= tower_of_hanoi(n-1,auxillary,source,target)
    return moves

n=int(input("enter the number of disk:"))
print(f"tower of hanoi solution for {n} disks(source= A, auxillary= C, target= B):\n")
total_moves= tower_of_hanoi(n,'A','C','B')
print(f"\ntotal moves required:{total_moves}")

enter the number of disk: 3

tower of hanoi solution for 3 disks(source= A, auxillary= C, target= B):

move disk 1 from A to B
move disk 2 from A to C
move disk 1 from B to C
move disk 3 from A to B
move disk 1 from C to A
move disk 2 from C to B
move disk 1 from A to B

total moves required:7

In [13]:
def SUM OF FACTORS
DEF PRODUCT OF FACTORS
DEF RECURSIVE ALTERNATE

SyntaxError: expected '(' (3927864137.py, line 1)

In [4]:
def gcd(a,b):
    while b!=0:
        a,b = b, a%b
    return a
num1=int(input("enter first number:"))
num2= int(input("enter the second number:"))
print("gcd of",num1,"and",num2 ,"is: ",gcd(num1,num2))

enter first number: 10
enter the second number: 20

gcd of 10 and 20 is:  10

In [15]:
def gcd_three(a,b,c):
    while b!=0:
        a,b = b, a%b
    while c!=0:
        a,c=c,a%c
    return a
num1=int(input("enter first number:"))
num2= int(input("enter the second number:"))
num3= int(input("enetr the third number:"))
print("gcd of",num1,",",num2,"and",num3,"is:",gcd_three(num1,num2,num3))

enter first number: 1
enter the second number: 2
enetr the third number: 3

gcd of 1 , 2 and 3 is 1

In [32]:
#matrices
L1 =[[1,2,3,4],
     [3,4,5,6]]
L2=[[1,2,3,4],
    [3,4,5,6]]
#matrix mulitiplication::
result=[[0 for _ in range(len(L2[0]))] for _ in range(len(L1))]

for i in range(len(L1)):
    for j in range(len(L2[0])):
        for k in range(len(L2)):
            result[i][j] += L1[i][k] * L2[k][j]

for row in result:
    print(row)

[7, 10, 13, 16]
[15, 22, 29, 36]

In [33]:
LIST1 = ["how are you", "hey everyone", "are you there"]
text = " ".join(LIST1)
char_count = {}
for ch in text:
    char_count[ch] = char_count.get(ch, 0) + 1
print("Character Occurrences:")
for ch, count in char_count.items():
    print(repr(ch), ":", count)

Character Occurrences:
'h' : 3
'o' : 4
'w' : 1
' ' : 7
'a' : 2
'r' : 4
'e' : 8
'y' : 4
'u' : 2
'v' : 1
'n' : 1
't' : 1

In [34]:
count = {}

for sentence in LIST1:            
    for char in sentence:        
        if char != " ":          
            char = char.lower()   
            if char in count:
                count[char] += 1
            else:
                count[char] = 1
for k, v in count.items():
    print(k, ":", v)

h : 3
o : 4
w : 1
a : 2
r : 4
e : 8
y : 4
u : 2
v : 1
n : 1
t : 1

In [8]:
list1 = [
    [1, 2, 3], 
    [4, 5, 6],  
    [7, 8, 9]
]

total =0
for i in range(len(list1)):
    for j in range(len(list1[i])):
        total = total + list1[i][j]
        
print("sum of all elements: " , total)

sum of all elements:  45

In [ ]:
for i

In [10]:
#addition of matrices::
A = [
    [1, 2, 3],
    [4, 5, 6]
]

B = [
    [7, 8, 9],
    [1, 2, 3]
]


C = [[0,0,0],
     [0,0,0]]
for i in range(len(A)):
    for j in range(len(A[0])):
        C[i][j] = A[i][j] + B[i][j]
#multipication of matrices:
print("Resultant Matrix:")
for row in C:
    print(row)

Resultant Matrix:
[8, 10, 12]
[5, 7, 9]

In [11]:
#multipication of matrices:

In [12]:
# subtraction of matrices::

In [9]:
A = [
    [1, 2, 3],
    [4, 5, 6]
]
rows = len(A)
cols = len(A[0])
transpose =[]
for i in range(cols):
    new_row = []
    for j in range(rows):
        new_row.append(A[j][i])
    transpose.append(new_row)
print("Transpose of the matrix:")
for rows in transpose :
    print(rows)

Transpose of the matrix:
[1, 4]
[2, 5]
[3, 6]

In [10]:
B = [
    [1,4],
    [2,5],
    [3,6]
]
rows = len(B)
cols = len(B[0])
transpose = []
for i in range(cols):
    new_row = []
    for j in range(rows):
        new_row.append(B[j][i])
    transpose.append(new_row)
print("transpose of the matrix:")
for rows in transpose :
    print(rows)

transpose of the matrix:
[1, 2, 3]
[4, 5, 6]

In [11]:
A = [[1,2,3],[4,5,6]]
B = [[1,4],[2,5],[3,6]]
result = [[0,0],[0,0]]
for i in range(len(A)):
    for j in range(len(B[0])):
        for k in range(len(B)):
            result[i][j] += A[i][k] * B[k][j]
print("Matrix Multiplication:")
for row in result:
    print(row)

Matrix Multiplication:
[14, 32]
[32, 77]

In [5]:
list1= [[2,3,4,5],[1,2],[5,6,7]]
total=0

for row in list1:
    total += sum(row)
print(total)

35

In [6]:
# find max and min length from  a 2d jagged list
def find_max(list1):
  return max(max(row) for row in list1)

def find_min(list1):
  return min(min(row) for row in list1)
list1 = [
      [21,12],
      [43,9,16],[27,38,5,13]
      ]
maximum_number= find_max(list1)
minimum_number= find_min(list1)
print(" maximum number: " , maximum_number)
print(" minimum number:", minimum_number)

 maximum number:  43
 minimum number: 5

In [10]:
#addition of 2 lists:
list1 = [[1,2,3],[4,5],[5]]
list2 = [[5,6,7],[9],[10,11]]
total1 =0
total2 =0
for row in list1:
    total1 += sum(row)
for row in list2:
    total2 += sum(row)
print(" sum of list1 elements:",total1)
print(" sum of list 2 elements:" , total2)
print(" total sum of list 1 and list 2: ",total1+total2)

 sum of list1 elements: 20
 sum of list 2 elements: 48
total sum of list 1 and list 2:  68

In [11]:
# addition of 2 lists with matrix of 5*3 of lista and matrix of 4*5 of listb:
list1 = [[1,2,3],[4],[5,6,7],[8],[3]]
list2 = [[1,2,3,4,],[1,2,3,4,5],[1,2,3],[4,5,6]]
total1 =0
total2 =0

for row1 in list1:
    total1 += sum(row1)
for row2 in list2:
    tot
    2
    6
    6al2 += sum(row2)
print(" sum of list1 elements:",total1)
print(" sum of list 2 elements:" , total2)
print("total sum of list 1 and list 2: ",total1+total2)

 sum of list1 elements: 39
 sum of list 2 elements: 46
total sum of list 1 and list 2:  85

In [13]:
# Creating a function that returns multiplication result
def multiplyNumbers(givenNumbers):
    return givenNumbers*3
givenNumbers = map(multiplyNumbers, [1,3,5,2,6,10])
print("multiplying elements with 3:")
for element in givenNumbers:
    print(element, end=',')

multiplying elements with 3:
3,9,15,6,18,30,

In [2]:
def f(n):
    reverse = 0
    while n>0:
        digit = n % 10
        reverse = reverse * 10 + digit
        n = n//10
    return digit

In [3]:
n = 5
ascii_value = 65
for i in range(n):
    for j in range(i + 1):
        print(chr(ascii_value), end=" ")
    ascii_value += 1
    print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
for i in range(1,6):

In [ ]:
r=int(input())
mat=[list(map(int,input().split